.music-player {
  position: absolute;
  top: 62px;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
}


/* Media Query */
@media screen and (max-width: 768px) {
  .music-player {
    top: 82px; /* Adjust the value as needed */
    right: 15px; /* Adjust the value as needed */
  }
}

#musicBtn{
  background-color: transparent;
  border: none;
}

#misicIons{
  color: rgb(237, 15, 15);

  cursor: pointer;

  position: absolute;
  top: 14px;
  right: 70px;
  
}

#misicIons:hover{
  color: rgb(15, 237, 115);

}