.header {
  width: 100%;
  height: 90px;
  background-color: transparent;
  border-bottom: 1px solid #eee;
  background: transparent;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  text-align: center;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 90px;
  right: -100%;
  width: 100%;
  height: 95vh;
  transition: 0.4s;
  z-index: 6;
  background: #110f0f;
  border-left: 1px solid #fff;
}

.nav.active {
  right: -23%;
}

.nav li {
  padding: 2rem;
  width: 100%;
}

.nav li a {
  cursor: pointer;
  color: white;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  top: -1px;
  padding: 1rem;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.container li {
  display: inline-block;
}

.container li a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.container li a:hover {
  background-color: grey;
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.search-bar button[type="submit"] {
  background-color: #ccc;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button[type="submit"]:hover {
  background-color: #aaa;
}

.search-bar i {
  color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
  .search-bar input[type="text"] {
    width: 100px;
    height: 8px;
  }
  
  .nav {
    right: -100%;
    width: 100%;
  }

  .nav.active {
    right: -40%;
  }

  .hamburger {
    right: 0;
  }

  .nav li {
    padding: 1rem;
  }

  .container li a {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .nav {
    right: -100%;
  }

  .nav.active {
    right: -40%;
  }

  .hamburger {
    right: 0;
  }

  .nav li {
    padding: 1px;
  }
}

@media (max-width: 1368px) {
  .container li a {
    font-size: 20px;
  }
}

@media (max-width: 1268px) {
  .container li a {
    font-size: 20px;
  }
}

@media (max-width: 1068px) {
  .container li a {
    font-size: 16px;
  }
}

@media (max-width: 868px) {
  .container li a {
    font-size: 14px;
  }
}

@media (max-width: 668px) {
  .container li a {
    font-size: 12px;
  }
}
